* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #222224;
}
h1 {
    background-color: #222224;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;

}
.choices {
    height: 160px;
    width: 160px;
    border-radius: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
     

}
.choices:hover {
   
    cursor: pointer;
    background-color: aliceblue;
    
}
img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
 
}
.choices1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 2rem;
    gap: 5rem;
    color: antiquewhite;

}
#user-score, #comp-score {
    font-size: 3rem;
    display: flex;
    justify-content: center;

}
.msg-container {
    
    margin-top: 2rem; 
    text-align: center;
    justify-content: center;
    

}
#msg {
    display: inline;
    background-color: rgb(255, 153, 0);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 0.4rem;
    border-radius: 1rem;

}
